<h1>Test angular app</h1>
<h2>Custom row edit table</h2>

<igds-table [selectable]="true" (igds-row-select)="handleRowSelect($event)">
  <igds-table-header
    [columns]='[
        {"id":"1","name":"Name"},
        {"id":"2","name":"Quantity"},
        {"id":"3","name":"Measure"},
        {"id":"4","name":"","slotted":true}
      ]'
  ></igds-table-header>
  <igds-table-row
    rowId="row1"
    [cells]='[{"value":"Apples"},{"value":"12"},{"value":"boxes"}]'
    [selected]="selectedRowId() === 'row1'"
  >
    <igds-table-cell>
      <div class="table-control-box">
        <igds-button variant="link">
          <igds-dynamic-icon name="edit"></igds-dynamic-icon>
        </igds-button>
        <igds-button variant="link">
          <igds-dynamic-icon name="trash"></igds-dynamic-icon>
        </igds-button>
      </div>
    </igds-table-cell>
  </igds-table-row>
  <igds-table-row
    rowId="row2"
    [cells]='[{"value":"Water melon"},{"value":"300"},{"value":"ton"}]'
    [selected]="selectedRowId() === 'row2'"
  >
    <igds-table-cell>
      <div class="table-control-box">
        <igds-button variant="link">
          <igds-dynamic-icon name="edit"></igds-dynamic-icon>
        </igds-button>
        <igds-button variant="link">
          <igds-dynamic-icon name="trash"></igds-dynamic-icon>
        </igds-button>
      </div>
    </igds-table-cell>
  </igds-table-row>
</igds-table>
<br />
<br />
<br />

<form [formGroup]="materialTableForm" (ngSubmit)="submitMaterialTableForm($event)">
  <igds-table class="another-table">
    <igds-table-header
      [columns]="[
        {id: '1', name: 'Type of material', slotted: true},
        {id: '2', name: 'Tax ID / Authorized Dealer number', slotted: true},
        {id: '3', name: 'Name of the collecting entity', slotted: true},
        {id: '4', name: 'Capacity 100 ml to 1.499 liters', slotted: true},
        {id: '5', name: '', slotted: true}
      ]"
    ></igds-table-header>

    <ng-container formArrayName="rows">
      @for (row of materialTableRows.controls; track row.controls.rowId.value; let i = $index) {
        <igds-table-row [formGroupName]="i">
          <igds-table-cell>
            @if (editableRowId() === row.controls.rowId.value) {
              <igds-dropdown
                formControlName="material"
                [options]="typeOfMaterialOptions"
                dir="ltr"
                placeholder="Select material..."
              />
            } @else {
              <div part="cell-content">{{row.controls.material.value}}</div>
            }
          </igds-table-cell>
          <igds-table-cell>
            @if (editableRowId() === row.controls.rowId.value) {
              <igds-input
                formControlName="taxId"
                placeholder="Specify tax ID"
                dir="ltr"
              />
            } @else {
              <div part="cell-content">{{row.controls.taxId.value}}</div>
            }
          </igds-table-cell>
          <igds-table-cell>
            @if (editableRowId() === row.controls.rowId.value) {
              <igds-input
                formControlName="collectingEntityName"
                placeholder="Specify name of the collecting entity"
                dir="ltr"
              />
            } @else {
              <div part="cell-content">{{row.controls.collectingEntityName.value}}</div>
            }
          </igds-table-cell>
          <igds-table-cell>
            @if (editableRowId() === row.controls.rowId.value) {
              <igds-input
                formControlName="capacity"
                placeholder="Specify capacity"
                dir="ltr"
                type="number"
              />
            } @else {
              <div part="cell-content">{{row.controls.capacity.value}}</div>
            }
          </igds-table-cell>
          <igds-table-cell>
            @if (editableRowId() === row.controls.rowId.value) {
              <div part="cell-controls">
                <igds-button
                  variant="alternative"
                  size="small"
                  part="cell-button"
                  (igds-click)="saveRow()"
                >
                  <igds-icon [node]="checkmarkIcon"></igds-icon>
                </igds-button>
                <igds-button
                  variant="alternative"
                  size="small"
                  part="cell-button"
                  (igds-click)="cancelRowEdit(row.controls.rowId.value)"
                >
                  <igds-icon [node]="closeIcon"></igds-icon>
                </igds-button>
              </div>
            } @else {
              <igds-button
                variant="alternative"
                size="small"
                part="cell-button"
                (igds-click)="editRow(row.controls.rowId.value)"
                [disabled]="editableRowId() !== undefined"
              >
                <igds-icon [node]="pencilIcon"></igds-icon>
              </igds-button>
            }
          </igds-table-cell>
        </igds-table-row>
      }
    </ng-container>
  </igds-table>

  <footer class="another-table__footer">
    <igds-button variant="primary" type="submit">Submit</igds-button>
    <igds-button
      variant="secondary"
      (igds-click)="addNewRow()"
      [disabled]="editableRowId() !== undefined"
    >
      <igds-icon [node]="plusIcon"></igds-icon>
      Add new row
    </igds-button>
  </footer>
</form>



<igds-radio-group
  label="Select button variants"
  orientation="vertical"
  (igds-change)="handleChange($event)"
  >
  @for (buttonVar of buttonVariants; track buttonVar) {
    <igds-radio name="radio" [value]="buttonVar" [label]="buttonVar"/>
  }
</igds-radio-group>

<br /><br />

<igds-button class="button" [variant]="variant()" size="medium">
  Example button
</igds-button>

<br /><br />

<h2>Input below has a value: {{inputValue()}} (based on signal)</h2>
<igds-input
  dir="ltr"
  type="text"
  label="Demo input:"
  placeholder="Enter value..."
  [value]="inputValue()"
  (igds-input)="handleInput($event)"
></igds-input>

<br /><br />

<form [formGroup]="form" (ngSubmit)="submit($event)">
  <igds-input [defaultValue]="''" formControlName="input" dir="ltr"></igds-input>
  <br />
  <igds-button variant="primary" size="small" type="submit">
    Submit
  </igds-button>
</form>

<br /><br />

<h2>Input below has a value: {{inputValue2}}</h2>
<igds-input [(value)]="inputValue2" dir="ltr"></igds-input>

<h2>Table example</h2>
<igds-table [selectable]="true" (igds-row-select)="handleRowSelection($event)">
  <igds-table-header
    [columns]="[
      {id: '1', name: 'Type of material', slotted: true},
      {id: '2', name: 'Tax ID / Authorized Dealer number', slotted: true},
      {id: '3', name: 'Name of the collecting entity', slotted: true},
      {id: '4', name: 'Capacity 100 ml to 1.499 liters', slotted: true},
      {id: '5', name: 'Capacity 1.5 to 5 liters', slotted: true}
    ]"
  ></igds-table-header>
  @for(rowId of rows; track rowId) {
    <igds-table-row [rowId]="rowId">
      <igds-table-cell>
        <igds-dropdown
          [options]="dropdownOptions"
          dir="ltr"
          placeholder="Select..."
          [disabled]="getFieldDisableState(rowId)"
        />
      </igds-table-cell>
      <igds-table-cell>
        <igds-input
          [disabled]="getFieldDisableState(rowId)"
          placeholder="Input 1"
          dir="ltr"
        >
        </igds-input>
      </igds-table-cell>
      <igds-table-cell>
        <igds-input
          [disabled]="getFieldDisableState(rowId)"
          placeholder="Input 2"
          dir="ltr"
        >
        </igds-input>
      </igds-table-cell>
      <igds-table-cell>
        <igds-input
          [disabled]="getFieldDisableState(rowId)"
          placeholder="Input 3"
          dir="ltr"
        >
        </igds-input>
      </igds-table-cell>
      <igds-table-cell>
        <igds-input
          [disabled]="getFieldDisableState(rowId)"
          placeholder="Input 4"
          dir="ltr"
        >
        </igds-input>
      </igds-table-cell>
    </igds-table-row>
  }
</igds-table>

<h2>Another Table example</h2>
<igds-table class="another-table">
  <igds-table-header
    [columns]="[
      {id: '1', name: 'Type of material', slotted: true},
      {id: '2', name: 'Tax ID / Authorized Dealer number', slotted: true},
      {id: '3', name: 'Name of the collecting entity', slotted: true},
      {id: '4', name: 'Capacity 100 ml to 1.499 liters', slotted: true},
      {id: '5', name: 'Capacity 1.5 to 5 liters', slotted: true},
      {id: '6', name: '', slotted: true}
    ]"
  ></igds-table-header>

  <igds-table-row>
    <igds-table-cell>
      <igds-dropdown
        [options]="dropdownOptions"
        dir="ltr"
        placeholder="Select..."
      />
    </igds-table-cell>
    <igds-table-cell>
      <igds-input
        placeholder="Input 1"
        dir="ltr"
      >
      </igds-input>
    </igds-table-cell>
    <igds-table-cell>
      <igds-input
        placeholder="Input 2"
        dir="ltr"
      >
      </igds-input>
    </igds-table-cell>
    <igds-table-cell>
      <igds-input
        placeholder="Input 3"
        dir="ltr"
      >
      </igds-input>
    </igds-table-cell>
    <igds-table-cell>
      <div>0</div>
    </igds-table-cell>
    <igds-table-cell>
      <igds-button>
        <igds-icon [node]="plusIcon"></igds-icon>
      </igds-button>
    </igds-table-cell>
  </igds-table-row>

  <igds-table-row>
    <igds-table-cell>
      <div>Some text</div>
    </igds-table-cell>
    <igds-table-cell>
      <div>4</div>
    </igds-table-cell>
    <igds-table-cell>
      <div>5</div>
    </igds-table-cell>
    <igds-table-cell>
      <div>9</div>
    </igds-table-cell>
    <igds-table-cell>
    </igds-table-cell>
    <igds-table-cell>
      <igds-button variant="link">
        <igds-icon [node]="pencilIcon"></igds-icon>
      </igds-button>
    </igds-table-cell>
  </igds-table-row>

  <igds-table-row>
    <igds-table-cell>
      <igds-dropdown
        [options]="dropdownOptions"
        dir="ltr"
        placeholder="Select..."
      />
    </igds-table-cell>
    <igds-table-cell>
      <igds-input
        placeholder="Input 1"
        dir="ltr"
      >
      </igds-input>
    </igds-table-cell>
    <igds-table-cell>
      <igds-input
        placeholder="Input 2"
        dir="ltr"
      >
      </igds-input>
    </igds-table-cell>
    <igds-table-cell>
      <igds-input
        placeholder="Input 3"
        dir="ltr"
      >
      </igds-input>
    </igds-table-cell>
    <igds-table-cell>
      <div>0</div>
    </igds-table-cell>
    <igds-table-cell>
      <igds-button>
        <igds-icon [node]="plusIcon"></igds-icon>
      </igds-button>
    </igds-table-cell>
  </igds-table-row>

  <igds-table-row>
    <igds-table-cell>
      <div>Some text</div>
    </igds-table-cell>
    <igds-table-cell>
      <div>4</div>
    </igds-table-cell>
    <igds-table-cell>
      <div>5</div>
    </igds-table-cell>
    <igds-table-cell>
      <div>9</div>
    </igds-table-cell>
    <igds-table-cell>
    </igds-table-cell>
    <igds-table-cell>
      <igds-button variant="link">
        <igds-icon [node]="pencilIcon"></igds-icon>
      </igds-button>
    </igds-table-cell>
  </igds-table-row>

  <igds-table-row>
    <igds-table-cell>
      <div part="slot-content">Total</div>
    </igds-table-cell>
    <igds-table-cell>
      <div part="slot-content">10</div>
    </igds-table-cell>
    <igds-table-cell>
      <div part="slot-content">15</div>
    </igds-table-cell>
    <igds-table-cell>
      <div part="slot-content">23</div>
    </igds-table-cell>
    <igds-table-cell>
    </igds-table-cell>
  </igds-table-row>
</igds-table>

<h2>Example table with two control in one slot</h2>

<igds-table class="another-table">
  <igds-table-header
    [columns]="[
      {id: '1', name: 'Type of material', slotted: true},
      {id: '2', name: 'Tax ID / Authorized Dealer number', slotted: true},
      {id: '3', name: 'Name of the collecting entity', slotted: true},
      {id: '4', name: 'Capacity 100 ml to 1.499 liters', slotted: true},
      {id: '5', name: '', slotted: true}
    ]"
  ></igds-table-header>

  <igds-table-row>
    <igds-table-cell>
      <igds-dropdown
        [options]="dropdownOptions"
        dir="ltr"
        placeholder="Select..."
      />
    </igds-table-cell>
    <igds-table-cell>
      <igds-input
        placeholder="Input 1"
        dir="ltr"
      >
      </igds-input>
    </igds-table-cell>
    <igds-table-cell>
      <div part="cell-with-two-inputs">
        <igds-input
          placeholder="Input 2:1"
          dir="ltr"
        >
        </igds-input>
        <igds-input
          placeholder="Input 2:2"
          dir="ltr"
        >
        </igds-input>
      </div>
    </igds-table-cell>
    <igds-table-cell>
      <igds-input
        placeholder="Input 3"
        dir="ltr"
      >
      </igds-input>
    </igds-table-cell>
    <igds-table-cell>
      <igds-button>
        <igds-icon [node]="plusIcon"></igds-icon>
      </igds-button>
    </igds-table-cell>
  </igds-table-row>
</igds-table>
