:host {
  display: block;
  padding: 16px;
}

.button {
  margin-top: 24px;
}

.some-block {
  width: 500px;
  background-color: #fafafa;
}

.file-uploader {
  width: 100%;
}

.another-table {
  &::part(slot-content) {
    padding: 4px 0;
    font-weight: 700;
  }

  &::part(cell-with-two-inputs) {
    display: flex;
    gap: 12px;

    @media (max-width: 1200px) {
      flex-direction: column;
    }
  }

  &::part(cell-button) {
    height: 48px;
    display: flex;
    align-items: center;
  }

  &::part(cell-content) {
    height: 48px;
    display: flex;
    align-items: center;
  }

  &::part(cell-controls) {
    height: 48px;
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__footer {
    padding-top: 12px;
    display: flex;
    justify-content: flex-end;
    gap: 12px;
  }
}

