:host {
  display: block;
  padding: 16px;
}

.button {
  margin-top: 24px;
}

.some-block {
  width: 500px;
  background-color: #fafafa;
}

.file-uploader {
  width: 100%;
}

.another-table {
  &::part(slot-content) {
    padding: 4px 0;
    font-weight: 700;
  }

  &::part(cell-with-two-inputs) {
    display: flex;
    gap: 12px;

    @media (max-width: 1200px) {
      flex-direction: column;
    }
  }
}

